			<div class="container">
				<div class="compare-heading">
					<h3>Compare Products</h3>
					<p>
					(<mark>{{ compare_list.count }}</mark> Product{{ compare_list.count|pluralize }})					</p>
				</div>
				<div class="compare-list">
					<ul class="compare-slider slider-wrapper row gutter-lg">
					{% for item in compare_list.data %}
					{% if item is not None %}
											<li>

							<a href="https://d-themes.com/wordpress/wolmart/demo-1/product/womens-white-handbag/">
								<figure>
									<img width="300" height="338" src="{{ item.image.0 }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" />								</figure>
							</a>
							<a href="#" data-product_id="{{ item.id }}" class="btn-remove remove_from_compare fas fa-times"></a>
						</li>
						{% else %} <li></li>
													{% endif %}

						{% endfor %}
												</ul>
					<div class="slider-scrollbar"></div>
				</div>
				<a href="#" class="compare-clean">Clean All</a>
				<a href="{% url 'compare' %}" class="btn btn-dark btn-rounded">Start Compare !</a>
			</div>
