<!-- Search Form -->
<div class="search-wrapper hs-simple">
    <form action="{% url 'index' %} method="get" class="input-wrapper">
        <input type="hidden" name="post_type" value=""/>
        <input type="search" class="form-control" name="s" placeholder="Search" required="" autocomplete="off">
        <div class="live-search-list"></div>
        <button class="btn btn-search" type="submit">
            <i class="w-icon-search"></i>
        </button>
    </form>
</div>
<div class="nav-wrapper">
    <div class="tab tab-nav-simple tab-nav-boxed">
        <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#main-menu">Main Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#categories">Categories</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active in" id="main-menu">
                <nav class="main-menu">
                    <ul id="menu-main-menu" class="mobile-menu">
                        <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-718">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li id="menu-item-720" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-720">
                            <a href="{% url 'shop' %}">Shop</a>
                        </li>
                        <li id="menu-item-669" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-669">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/store-listing/">Vendor</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
            <div class="tab-pane" id="categories">
                <nav class="categories">
                    <ul id="menu-categories" class="mobile-menu">
                        <li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-29">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/fashion/">
                                <i class="w-icon-tshirt2"></i>
                                Fashion
                            </a>
                            <ul class="megamenu mp-left" style="width: 685px; ">
                                <li id="menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-30"></li>
                            </ul>
                        </li>
                        <li id="menu-item-32" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-32">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/furniture/">
                                <i class="w-icon-home"></i>
                                Home &#038;Garden
                            </a>
                            <ul class="megamenu mp-left" style="width: 685px; ">
                                <li id="menu-item-33" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-33"></li>
                            </ul>
                        </li>
                        <li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-35">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/electronics/">
                                <i class="w-icon-electronics"></i>
                                Electronics
                            </a>
                            <ul class="megamenu mp-left" style="width: 685px; ">
                                <li id="menu-item-36" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-36"></li>
                            </ul>
                        </li>
                        <li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-38">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/furniture/">
                                <i class="w-icon-furniture"></i>
                                Furniture
                            </a>
                            <ul class="megamenu mp-left" style="width: 880px; ">
                                <li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-39"></li>
                            </ul>
                        </li>
                        <li id="menu-item-41" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/fashion/">
                                <i class="w-icon-heartbeat"></i>
                                Health &#038;Beauty
                            </a>
                        </li>
                        <li id="menu-item-42" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/fashion/">
                                <i class="w-icon-gift"></i>
                                Gift Ideas
                            </a>
                        </li>
                        <li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/games/">
                                <i class="w-icon-gamepad"></i>
                                Toy &#038;Games
                            </a>
                        </li>
                        <li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/kitchen/">
                                <i class="w-icon-ice-cream"></i>
                                Cooking
                            </a>
                        </li>
                        <li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/electronics/">
                                <i class="w-icon-ios"></i>
                                Smart Phones
                            </a>
                        </li>
                        <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/electronics/">
                                <i class="w-icon-camera"></i>
                                Cameras &#038;Photo
                            </a>
                        </li>
                        <li id="menu-item-47" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47">
                            <a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/clothing/">
                                <i class="w-icon-ruby"></i>
                                Accessories
                            </a>
                        </li>
                        <li id="menu-item-48" class="view-all-cats menu-item menu-item-type-custom menu-item-object-custom menu-item-48">
                            <a href="{% url 'shop' %}">View All Categories</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
