
<div class="login-popup" id="customer_login">
	<div class="woocommerce-notices-wrapper"></div>	<div class="tab tab-nav-simple tab-nav-boxed form-tab">
		<ul class="nav nav-tabs nav-fill" role="tablist">
			<li class="nav-item">
				<a href="signin" class="nav-link active" data-toggle="tab">Sign In</a>
			</li>
					<li class="nav-item">
				<a href="signup" class="nav-link" data-toggle="tab">Sign Up</a>
			</li>
				</ul>
		<div class="tab-content">

			<div class="tab-pane active" id="signin">
				<form class="woocommerce-form woocommerce-form-login login" method="post">

					
					<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
						<label for="username">Username or email address&nbsp;<span class="required">*</span></label>
						<input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" required value="" />					</p>
					<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
						<label for="password">Password&nbsp;<span class="required">*</span></label>
						<input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password" required />
					</p>

					<div class="agr-recaptcha-wrapper"></div>
					<div class="form-row form-footer">
						<label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme form-checkbox">
							<input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Remember me</span>
						</label>
						<p class="woocommerce-LostPassword lost_password">
							<a href="https://d-themes.com/wordpress/wolmart/demo-1/my-account/lost-password/">Lost your password?</a>
						</p>
					</div>

					<input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="bcb110ed09" /><input type="hidden" name="_wp_http_referer" value="/wordpress/wolmart/demo-1/wp-admin/admin-ajax.php" />					<button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Sign In">Sign In</button>

					<p class="submit-status"></p>

					
				</form>
			</div>

					<div class="tab-pane" id="signup">
				<form method="post" class="woocommerce-form woocommerce-form-login register"  >

					
					
					<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
						<label for="reg_email">Your Email address&nbsp;<span class="required">*</span></label>
						<input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="email" id="reg_email" autocomplete="email" required value="" />					</p>

					
						<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
							<label for="reg_password">Password&nbsp;<span class="required">*</span></label>
							<input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="password" id="reg_password" autocomplete="new-password" required />
						</p>

					
					<div class="agr-recaptcha-wrapper"></div><div class="woocommerce-privacy-policy-text"><p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="https://d-themes.com/wordpress/wolmart/demo-1/privacy-policy/" class="woocommerce-privacy-policy-link" target="_blank">privacy policy</a>.</p>
</div>
					<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"><a class="register_as_vendor" href="https://d-themes.com/wordpress/wolmart/demo-1/my-account/">Signup as a vendor?</a></p>
					<p class="custom-checkbox"><input type="checkbox" id="register-policy" required="" class="mr-2"><label for="register-policy">I agree to the <a href="https://d-themes.com/wordpress/wolmart/demo-1/privacy-policy/" class="woocommerce-privacy-policy-link" target="_blank">privacy policy</a></label></p>

					<input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce" value="1d6b4dcaed" /><input type="hidden" name="_wp_http_referer" value="/wordpress/wolmart/demo-1/wp-admin/admin-ajax.php" />					<button type="submit" class="woocommerce-Button woocommerce-button button woocommerce-form-register__submit" name="register" value="Sign Up">Sign Up</button>

					<p class="submit-status"></p>

					
				</form>
			</div>
				</div>
	</div>

	
				<div class="social-login text-center">
					<p>Sign in with social account</p>
					<div class="social-icons">
																<a class="social-icon framed social-facebook" href="https://d-themes.com/wordpress/wolmart/demo-1/wp-login.php?loginFacebook=1&redirect=" onclick="window.location.href = 'https://d-themes.com/wordpress/wolmart/demo-1/wp-login.php?loginFacebook=1&redirect='+window.location.href; return false">
							<i class="fab fa-facebook-f"></i></a>
																<a class="social-icon framed social-twitter" href="https://d-themes.com/wordpress/wolmart/demo-1/wp-login.php?loginSocial=twitter&redirect=" onclick="window.location.href = 'https://d-themes.com/wordpress/wolmart/demo-1/wp-login.php?loginSocial=twitter&redirect='+window.location.href; return false">
							<i class="fab fa-twitter"></i></a>
																<a class="social-icon framed social-google" href="https://d-themes.com/wordpress/wolmart/demo-1/wp-login.php?loginGoogle=1&redirect=" onclick="window.location.href = 'https://d-themes.com/wordpress/wolmart/demo-1/wp-login.php?loginGoogle=1&redirect='+window.location.href; return false">
							<i class="fab fa-google"></i></a>
															</div>
				</div>

				</div>
