<li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-132" ><a href="https://d-themes.com/wordpress/wolmart/demo-1/blog/">Blog</a></li>
<li id="menu-item-126" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-126" ><a href="https://d-themes.com/wordpress/wolmart/elements/contact-us/">Contact Us</a></li>
{% if user.is_authenticated %}
<li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133" ><a href="https://d-themes.com/wordpress/wolmart/demo-1/my-account/">My account</a></li>
{% endif %}
