    {% extends 'layouts/base.html' %}
    {% block Title %}Shop &#8211; SimpleStore {% endblock %}
    {% block body %}
    <body class="archive post-type-archive post-type-archive-product wp-custom-logo wp-embed-responsive theme-wolmart woocommerce-shop woocommerce woocommerce-page woocommerce-no-js wolmart-archive-product-layout wolmart-disable-mobile-animation product-archive-page wolmart-rounded-skin wolmart-use-vendor-plugin wolmart-dokan-lite elementor-default elementor-kit-12 dokan-theme-wolmart wolmart-demo">
    <div class="page-wrapper">
    <header class="header custom-header header-11" id="header"><div class="wolmart-block elementor elementor-11" data-block-id="11" data-elementor-id="11" data-elementor-type="wolmart-block"> <div data-elementor-type="wp-post" data-elementor-id="11" class="elementor elementor-11">
    <div class=" elementor-section elementor-top-section elementor-element elementor-element-bd19f9b elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bd19f9b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-no">
    <div class=" elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b04eda9 flex-1 w-auto overflow-hidden mr-4" data-id="b04eda9" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-e1f567d welcome-msg text-uppercase elementor-widget elementor-widget-heading" data-id="e1f567d" data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
    <p class="elementor-heading-title elementor-size-default">Welcome to Wolmart Store message or remove it!</p> </div>
    </div>
    </div>
    </div>
    <div class=" elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-481bf63 flex-none w-auto" data-id="481bf63" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-53a9d9f ml-auto elementor-widget__width-auto elementor-widget elementor-widget-wolmart_header_currency_switcher" data-id="53a9d9f" data-element_type="widget" data-widget_type="wolmart_header_currency_switcher.default">
    <div class="elementor-widget-container">
    <ul class="menu switcher cur-switcher">
    <li class="menu-item-has-children">
    <a class="switcher-toggle" href="#">USD</a>
    <ul>
    <li><a href="#">EUR</a></li>
    <li><a href="#">USD</a></li>
    </ul>
    </li>
    </ul>
    </div>
    </div>
    <div class="elementor-element elementor-element-74e324d elementor-widget__width-auto elementor-widget elementor-widget-wolmart_header_language_switcher" data-id="74e324d" data-element_type="widget" data-widget_type="wolmart_header_language_switcher.default">
    <div class="elementor-widget-container">
    <ul class="menu switcher lang-switcher">
    <li class="menu-item-has-children">
    <a href="#" class="switcher-toggle"><i class="flag flag-gb"></i>ENG</a>
    <ul>
    <li><a href="#"><i class="flag flag-gb"></i>ENG</a></li>
    <li><a href="#"><i class="flag flag-fr"></i>FRA</a></li>
    </ul>
    </li>
    </ul>
    </div>
    </div>
    <div class="elementor-element elementor-element-785b74b elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-wolmart_header_v_divider" data-id="785b74b" data-element_type="widget" data-widget_type="wolmart_header_v_divider.default">
    <div class="elementor-widget-container">
    <span class="divider"></span>
    </div>
    </div>
    <div class="elementor-element elementor-element-7df12ce elementor-widget__width-auto elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-wolmart_widget_menu" data-id="7df12ce" data-element_type="widget" data-widget_type="wolmart_widget_menu.default">
    <div class="elementor-widget-container">
    <div class="dropdown dropdown-menu mobile-links"><a href="#">Links</a><nav class="dropdown-box top-navigation"><ul id="menu-top-navigation" class="menu  horizontal-menu lazy-menu">
        <!-- <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="https://d-themes.com/wordpress/wolmart/demo-1/blog/">Blog</a></li> -->
    <li id="menu-item-1com26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-126"><a href="https://d-themes.com/wordpress/wolmart/elements/contact-us/">Contact Us</a></li>
        {% if user.is_authenticated %}
    <li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a href="https://d-themes.com/wordpress/wolmart/demo-1/my-account/">My account</a></li>
        {% endif %}
    </ul></nav></div> </div>
    </div>
    <div class="elementor-element elementor-element-2adc7a5 elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-wolmart_header_account" data-id="2adc7a5" data-element_type="widget" data-widget_type="wolmart_header_account.default">
        {% if not user.is_authenticated %}
    <div class="elementor-widget-container">
    <div class="account"><a class="login inline-type" href="https://d-themes.com/wordpress/wolmart/demo-1/my-account/"><i class="w-icon-account"></i><span>Sign In </span></a><span class="delimiter">/</span><a class="register inline-type" href="https://d-themes.com/wordpress/wolmart/demo-1/my-account/"><span>Register</span></a></div> </div>
        {% endif %}
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class=" elementor-section elementor-top-section elementor-element elementor-element-5579962 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5579962" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
    <div class=" elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c25955f w-auto flex-1" data-id="c25955f" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-0ceec07 mr-auto mr-md-2 elementor-widget elementor-widget-wolmart_header_site_logo" data-id="0ceec07" data-element_type="widget" data-widget_type="wolmart_header_site_logo.default">
    <div class="elementor-widget-container">
    <a href="{% url 'index' %}" class="logo" aria-label="Logo" title="Demo 1 - Wolmart WordPress Demo 1">
    <img width="288" height="90" src="https://d-themes.com/wordpress/wolmart/demo-1/wp-content/uploads/sites/4/2022/06/logo.png" class="site-logo skip-data-lazy attachment-full size-full" alt="Demo 1" decoding="async" /></a>
    </div>
    </div>
    <div class="elementor-element elementor-element-222d89b flex-1 elementor-hidden-phone elementor-widget elementor-widget-wolmart_header_search" data-id="222d89b" data-element_type="widget" data-widget_type="wolmart_header_search.default">
    <div class="elementor-widget-container">
    <div class="search-wrapper hs-expanded">
    <form action="{% url 'index' %}" method="get" class="input-wrapper">
    <input type="hidden" name="post_type" value />
    <div class="select-box">
    <select name="cat" aria-label="Categories to search" id="cat" class="cat">
    <option value="0">All Categories</option>
    <option class="level-0" value="fashion">Fashion</option>
    <option class="level-0" value="lifestyle">Lifestyle</option>
    <option class="level-0" value="clothes">Clothes</option>
    <option class="level-0" value="hobbies">Hobbies</option>
    </select>
    </div>
    <input type="search" aria-label="Search" class="form-control" name="s" placeholder="Search in..." required autocomplete="off">
    <div class="live-search-list"></div>
    <button class="btn btn-search" aria-label="Search Button" type="submit">
    <i class="w-icon-search"></i>
    </button>
    </form>
    </div>
    </div>
    </div>
    <div class="elementor-element elementor-element-c2fdaea ml-auto elementor-hidden-desktop elementor-widget elementor-widget-wolmart_header_account" data-id="c2fdaea" data-element_type="widget" data-widget_type="wolmart_header_account.default">
    <div class="elementor-widget-container">
    <div class="account"><a class="login inline-type" href="https://d-themes.com/wordpress/wolmart/demo-1/my-account/"><i class="w-icon-account"></i></a></div> </div>
    </div>
    <div class="elementor-element elementor-element-4e7b3ec ml-2 elementor-hidden-mobile elementor-widget elementor-widget-wolmart_header_contact" data-id="4e7b3ec" data-element_type="widget" data-widget_type="wolmart_header_contact.default">
    <div class="elementor-widget-container">
    <div class="contact">
    <a href="tel:#" aria-label="Contact">
    <i class="w-icon-call"></i>
    </a>
    <div class="contact-content">
    <a href="/cdn-cgi/l/email-protection#6c4f" class="live-chat">Live Chat</a> <span class="contact-delimiter">or :</span> <a href="tel:#" class="telephone">0(800)123-456</a> </div>
    </div>
    </div>
    </div>
    <div class="elementor-element elementor-element-2e758e8 elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-wolmart_header_v_divider" data-id="2e758e8" data-element_type="widget" data-widget_type="wolmart_header_v_divider.default">
    <div class="elementor-widget-container">
    <span class="divider"></span>
    </div>
    </div>
        {% if user.is_authenticated %}
    <div class="elementor-element elementor-element-40078c4 d-none-sm-max elementor-widget elementor-widget-wolmart_header_wishlist" data-id="40078c4" data-element_type="widget" data-widget_type="wolmart_header_wishlist.default">
    <div class="elementor-widget-container">
    <a class="wishlist block-type" href="https://d-themes.com/wordpress/wolmart/demo-1/wishlist/" aria-label="Wishlist">
    <i class="w-icon-heart">
    </i>
    <span>Wishlist</span>
    </a>
    </div>
    </div>
        {% endif %}
    <div class="elementor-element elementor-element-145f7cf mr-2 d-none-sm-max elementor-widget elementor-widget-wolmart_header_compare" data-id="145f7cf" data-element_type="widget" data-widget_type="wolmart_header_compare.default">
    <div class="elementor-widget-container">
    <a class="compare-open block-type " aria-label="Compare" href="{% url 'compare' %}">
    <i class="w-icon-compare">
    </i>
    <span>Compare</span>
    </a>
    </div>
    </div>
    <div class="elementor-element elementor-element-fbb1175 mr-md-2 elementor-widget elementor-widget-wolmart_header_cart" data-id="fbb1175" data-element_type="widget" data-widget_type="wolmart_header_cart.default">
    <div class="elementor-widget-container">
    <div class="dropdown mini-basket-dropdown cart-dropdown block-type badge-type  cart-offcanvas">
    <a class="cart-toggle" href="{% url 'cart' %}">
    <span class="cart-label">
    <span class="cart-name">Cart</span>
    </span>
    <i class="w-icon-cart">

    <span class="cart-count">0</span>
    </i>
    </a>
    <div class="cart-overlay"></div>
    <div class="cart-popup widget_shopping_cart dropdown-box">
    <div class="widget_shopping_cart_content">
    <div class="cart-loading"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="elementor-element elementor-element-f5a22ec elementor-hidden-mobile elementor-widget elementor-widget-wolmart_header_mmenu_toggle" data-id="f5a22ec" data-element_type="widget" data-widget_type="wolmart_header_mmenu_toggle.default">
    <div class="elementor-widget-container">
    <a href="#" aria-label="Mobile Menu" class="mobile-menu-toggle d-lg-none"><i class="w-icon-hamburger"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
     <div class=" elementor-section elementor-top-section elementor-element elementor-element-920645c elementor-hidden-desktop elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="920645c" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class=" elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a5d849c" data-id="a5d849c" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-d1115dc custom-search-box flex-1 elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-wolmart_header_search" data-id="d1115dc" data-element_type="widget" data-widget_type="wolmart_header_search.default">
                                                <div class="elementor-widget-container">
                                                    <div class="search-wrapper hs-simple">
                                                        <form action="https://d-themes.com/wordpress/wolmart/demo-1/" method="get" class="input-wrapper">
                                                            <input type="hidden" name="post_type" value="product"/>
                                                            <input type="search" aria-label="Search" class="form-control" name="s" placeholder="Search in..." required autocomplete="off">
                                                            <div class="live-search-list"></div>
                                                            <button class="btn btn-search" aria-label="Search Button" type="submit">
                                                                <i class="w-icon-search"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-e5391f2 elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-wolmart_header_mmenu_toggle" data-id="e5391f2" data-element_type="widget" data-widget_type="wolmart_header_mmenu_toggle.default">
                                                <div class="elementor-widget-container">
                                                    <a href="#" aria-label="Mobile Menu" class="mobile-menu-toggle d-lg-none">
                                                        <i class="w-icon-hamburger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

    <div class=" sticky-content fix-top elementor-section elementor-top-section elementor-element elementor-element-a2aeb7a elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a2aeb7a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-no">
    <div class=" elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9a01e16" data-id="9a01e16" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-614900b elementor-widget__width-auto mr-4 elementor-widget elementor-widget-wolmart_widget_menu" data-id="614900b" data-element_type="widget" data-widget_type="wolmart_widget_menu.default">
    <div class="elementor-widget-container">
    <div class="dropdown toggle-menu "><a href="#" class="dropdown-menu-toggle"><i class="  w-icon-category"></i><span>BROWSE CATEGORIES</span></a><nav class="dropdown-box categories"><ul id="menu-categories" class="menu  dropdown-menu vertical-menu lazy-menu"><li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29"><a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/fashion/"><i class="w-icon-tshirt2"></i>Fashion</a></li>
    <li id="menu-item-32" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32"><a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/furniture/"><i class="w-icon-home"></i>Home &#038; Garden</a></li>
    <li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35"><a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/electronics/"><i class="w-icon-electronics"></i>Electronics</a></li>
    <li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38"><a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/furniture/"><i class="w-icon-furniture"></i>Furniture</a></li>
    <li id="menu-item-41" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41"><a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/fashion/"><i class="w-icon-heartbeat"></i>Health &#038; Beauty</a></li>
    <li id="menu-item-42" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42"><a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/fashion/"><i class="w-icon-gift"></i>Gift Ideas</a></li>
    <li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43"><a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/games/"><i class="w-icon-gamepad"></i>Toy &#038; Games</a></li>
    <li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/kitchen/"><i class="w-icon-ice-cream"></i>Cooking</a></li>
    <li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45"><a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/electronics/"><i class="w-icon-ios"></i>Smart Phones</a></li>
    <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46"><a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/electronics/"><i class="w-icon-camera"></i>Cameras &#038; Photo</a></li>
    <li id="menu-item-47" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47"><a href="https://d-themes.com/wordpress/wolmart/demo-1/product-category/clothing/"><i class="w-icon-ruby"></i>Accessories</a></li>
    <li id="menu-item-48" class="view-all-cats menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-48"><a href="{% url 'shop' %}">View All Categories</a></li>
    </ul></nav></div> </div>
    </div>
    <div class="elementor-element elementor-element-af980ca elementor-widget elementor-widget-wolmart_widget_menu" data-id="af980ca" data-element_type="widget" data-widget_type="wolmart_widget_menu.default">
    <div class="elementor-widget-container">
    <nav class=" main-menu"><ul id="menu-main-menu" class="menu  horizontal-menu menu-active-underline lazy-menu"><li id="menu-item-718" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-718"><a href="{% url 'index' %}">Home</a></li>
    <li id="menu-item-720" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item menu-item-720"><a href="{% url 'shop' %}">Shop</a></li>
    <li id="menu-item-669" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-669"><a href="#">Vendor</a></li>
    </ul></nav> </div>
    </div>
    <div class="elementor-element elementor-element-eff7a64 ml-auto custom-deal-menu elementor-widget elementor-widget-wolmart_widget_iconlist" data-id="eff7a64" data-element_type="widget" data-widget_type="wolmart_widget_iconlist.default">
    <div class="elementor-widget-container">
    <div class="wolmart-icon-lists inline-type align-items-center"><a href="#" class="wolmart-icon-list-item"><i class="  w-icon-map-marker"></i>Track Order</a><a href="{% url 'shop' %}?orderby=popularity&#038;deals=1" class="wolmart-icon-list-item"><i class="  w-icon-sale"></i>Daily Deals</a></div> </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div></header>
    {% include 'layouts/page.html' %}
    </main>
    {% block additional_scripts %}
    <script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"Home","@id":"{% url 'index' %}"}},{"@type":"ListItem","position":2,"item":{"name":"Shop","@id":"{% url 'shop' %}"}}]}</script>
    {% endblock %}
    {% endblock %}
